<div class="mypage apply_coupon col-md-offset-1 col-md-5">
    <div class="list">
        <div class="mypage_title"><h3>쿠폰내역</h3></div>
        <div class="basic_list">
            <div class="my_list col-md-offset-1 col-md-10">
                <input class="col-md-9 col-sm-9 col-xs-9" type="text" placeholder="쿠폰번호를 등록해 주세요"/>
                <div class="btn_right">
                    <button class="btn_d btn_full" type="button">쿠폰등록</button>
                </div>
            </div>
            <div class="my_list col-md-offset-1 col-md-10">
                <div class="user_title">
                    쿠폰번호 : 1234567890
                </div>
                <div class="course_info">
                  <span>사용여부 : Y</span>
                  <span class="info_date">2017.01.24</span>
                </div>
            </div>
            <div class="my_list col-md-offset-1 col-md-10">
                <div class="user_title">
                    쿠폰번호 : 0987654321
                </div>
                <div class="course_info">
                  <span>사용여부 : N</span>
                  <span class="info_date"></span>
                </div>
            </div>
        </div>
    </div>
</div>




<button class="btn_delete" type="button" title="삭제"><i class="glyphicon glyphicon-remove-sign"></i></button>
