<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>A source</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
      <!-- header -->
      <div id="header">
          <div class="container-fluid">
              <div class="wrap_head">
                  <div class="logo">
                      <h1><a href="index.html">· A source ·</a></h1>
                  </div>
                  <div class="gnb"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                  <div class="gnb_list">
                      <div class="gnb_menu">
                          <ul>
                              <li class="gnb_li">
                                  <button class="btn_a" type="button">로그인</button>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:38px;" href="myBuy.html">My Page</a>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:44px;" href="#"><i class="glyphicon glyphicon-bell"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="gnb_close">
                          <button class="btn_close" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid lnb">
              <div class="wrap_lnb">
                  <ul class="course_lnb">
                      <li><a href="#">HTML</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="#">CSS</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li style="margin:0 10px;"><a href="#">javascript</a></li>
                  </ul>
                  <!-- <ul class="mypage_lnb">
                      <li><a href="myQa.html">내질문</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="myBuy.html">구매내역</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li><a href="myBookmark.html">즐겨찾기</a></li>
                  </ul> -->
              </div>
          </div>
      </div>
      <!-- End header -->

      <!-- Wrapper -->
      <div id="wrapper">
          <div class="container">
              <div class="contents row">
                  <div class="view_detail col-md-offset-1 col-md-10">
                      <h2>웹표준이란?</h2>
                      <div class="detail_icon view_icon">
                          <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                          <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                          <a class="btn_c btn_full btn_buy" href="buy.html">구매하기</a>
                      </div>
                  </div>
                  <div class="view_video col-md-offset-1 col-md-10">
                      <video controls="controls">
                          <source src="/video/Soap Bubble - 7104.mp4" type="video/mp4">
                      </video>
                  </div>
              </div>
              <div class="fix_left">
                  <div class="left_btn">
                      <button type="button"><i class="glyphicon glyphicon-info-sign btn_fix"></i></button>
                  </div>
                  <div class="fix fix_list course_list">
                      <ul class="list_lnb">
                          <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                          <li><a href="#">CSS</a></li>
                          <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      </ul>
                      <div class="fix_line_top">
                          <div>
                              <img src="images/list_line.png" alt="선">
                          </div>
                      </div>
                      <ul class="fix_list_box" id="fixed_box">
                          <li><br></li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                              <div class="box_right_btn">
                                  <button type="button">HTML이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문서만들기</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_ss.png" alt="원안에 별">
                              </div>
                              <div class="box_right_btn">
                                  <button class="on" type="button">웹표준이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문법</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_ss.png" alt="원안에 별">
                              </div>
                              <div class="box_right_btn">
                                  <button type="button">추가정보를 만드는 속성</button>
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                              <div class="box_right_btn">
                                  <button type="button">HTML이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문서만들기</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_ss.png" alt="원안에 별">
                              </div>
                              <div class="box_right_btn">
                                  <button class="on" type="button">웹표준이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문법</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_ss.png" alt="원안에 별">
                              </div>
                              <div class="box_right_btn">
                                  <button type="button">추가정보를 만드는 속성</button>
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                              <div class="box_right_btn">
                                  <button type="button">HTML이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문서만들기</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                              <br />
                              <div class="circle_b circle">
                                  <img src="images/circle_ss.png" alt="원안에 별">
                              </div>
                              <div class="box_right_btn">
                                  <button class="on" type="button">웹표준이란?</button>
                              </div>
                          </li>
                          <li class="box_left">
                              <br />
                              <div class="box_left_btn">
                                  <button type="button">HTML 문법</button>
                              </div>
                              <div class="circle_b circle">
                                  <img src="images/circle_s.png" alt="원">
                              </div>
                          </li>
                          <li class="box_right">
                          <li class="box_left">
                            <br />
                          </li>
                      </ul>
                      <div class="fix_line_bottom">
                        <div>
                            <img src="images/list_line_2.png" alt="선">
                        </div>
                      </div>
                  </div>
              </div>
              <div class="fix_right">
                  <div class="right_btn">
                      <button type="button"><i class="glyphicon glyphicon-question-sign btn_fix"></i></button>
                  </div>
                  <div class="fix fix_epil_qa">
                      <div class="fix_epil">
                          <div class="btn_epil_qa">
                              <button class="btn_c btn_full btn_epil" type="button">후기</button>
                              <button class="btn_c btn_vide btn_qa" type="button">질문</button>
                              <button class="btn_c btn_vide btn_myqa" type="button">내 질문</button>
                          </div>
                          <div class="new_epil_qa fix_common">
                              <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="8" placeholder="이 강의에 후기를 써주세요."></textarea>
                              <div class="btn_right">
                                  <button class="btn_d btn_full" type="button">후기등록</button>
                              </div>
                          </div>
                          <div class="old_epil_qa">
                              <div class="epilogue fix_common">
                                  <div class="user_info">
                                      <span>이름1</span>
                                      <span class="info_date">2017.01.24</span>
                                  </div>
                                  <div class="user_epil">
                                      이름1님이 2017년 1월 24일에 남긴 웹표준이란? 이란 강의 의 후기 입니다.
                                  </div>
                              </div>
                              <div class="epilogue fix_common">
                                  <div class="user_info">
                                      <span>이름2</span>
                                      <span class="info_date">2017.01.23</span>
                                  </div>
                                  <div class="user_epil">
                                      이름2님이 2017년 1월 23일에 남긴 웹표준이란? 이란 강의 의 후기 입니다.
                                  </div>
                              </div>
                              <div class="epilogue fix_common">
                                  <div class="user_info">
                                      <span>이름3</span>
                                      <span class="info_date">2017.01.4</span>
                                  </div>
                                  <div class="user_epil">
                                      이름3님이 2017년 1월 4일에 남긴 웹표준이란? 이란 강의 의 후기 입니다.
                                  </div>
                              </div>
                              <div class="epilogue fix_common">
                                  <div class="user_info">
                                      <span>이름4</span>
                                      <span class="info_date">2017.01.01</span>
                                  </div>
                                  <div class="user_epil">
                                      이름4님이 2017년 1월 01일에 남긴 웹표준이란? 이란 강의 의 후기 입니다.
                                  </div>
                              </div>
                              <div class="epilogue fix_common">
                                  <div class="user_info">
                                      <span>이름5</span>
                                      <span class="info_date">2016.12.28</span>
                                  </div>
                                  <div class="user_epil">
                                      이름5님이 2016년 12월 28일에 남긴 웹표준이란? 이란 강의 의 후기 입니다.
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="fix_qa">
                          <div class="btn_epil_qa">
                              <button class="btn_c btn_vide btn_epil" type="button">후기</button>
                              <button class="btn_c btn_full btn_qa" type="button">질문</button>
                              <button class="btn_c btn_vide btn_myqa" type="button">내 질문</button>
                          </div>
                          <div class="new_epil_qa fix_common">
                              <input class="col-md-12 col-sm-12 col-xs-12" type="text" placeholder="질문의 제목"/>
                              <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="8" placeholder="이 강의에 대한 질문을 작성해주세요"></textarea>
                              <div class="btn_right">
                                  <button class="btn_d btn_full" type="button">질문등록</button>
                              </div>
                          </div>
                          <div class="old_epil_qa">
                              <div class="course_qa fix_common">
                                  <div class="user_info">
                                      <span>이름1</span>
                                      <span class="info_date">2017.01.24</span>
                                  </div>
                                  <div class="user_title">
                                      이름1님의 질문 제목입니다.
                                  </div>
                                  <div class="user_text">
                                      이름1님이 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                  </div>
                                  <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2" placeholder="댓글을 남겨주세요"></textarea>
                                  <div class="btn_right">
                                      <button class="btn_d btn_full" type="button">댓글등록</button>
                                  </div>
                              </div>
                              <div class="course_qa fix_common">
                                  <div class="user_info">
                                      <span>이름1</span>
                                      <span class="info_date">2017.01.24</span>
                                  </div>
                                  <div class="user_title">
                                      이름1님의 질문 제목입니다.
                                  </div>
                                  <div class="user_text">
                                      이름1님이 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                  </div>
                                  <div class="user_reply">
                                    ↘ &nbsp;&nbsp;2017년 1월4일에 이름1님이 남긴 질문에 대한 댓글입니다.(아이디)
                                  </div>
                                  <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"placeholder="댓글을 남겨주세요"></textarea>
                                  <div class="btn_right">
                                      <button class="btn_d btn_full" type="button">댓글등록</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="fix_myqa">
                          <div class="btn_epil_qa">
                              <button class="btn_c btn_vide btn_epil" type="button">후기</button>
                              <button class="btn_c btn_vide btn_qa" type="button">질문</button>
                              <button class="btn_c btn_full btn_myqa" type="button">내 질문</button>
                          </div>
                          <div class="old_epil_qa login_myqa">
                              <div class="course_qa fix_common">
                                  <div class="user_title">
                                      내 질문 제목1입니다.
                                  </div>
                                  <div class="user_text">
                                    내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                  </div>
                                  <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2" placeholder="댓글을 남겨주세요"></textarea>
                                  <div class="btn_right">
                                      <button class="btn_d btn_full" type="button">댓글등록</button>
                                  </div>
                              </div>
                              <div class="course_qa fix_common">
                                  <div class="user_title">
                                    내 질문 제목2입니다.
                                  </div>
                                  <div class="user_text">
                                      내가 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                  </div>
                                  <div class="user_reply">
                                    ↘ &nbsp;&nbsp;2017년 1월4일에 내가 남긴 질문에 대한 댓글입니다.(아이디)
                                  </div>
                                  <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2" placeholder="댓글을 남겨주세요"></textarea>
                                  <div class="btn_right">
                                      <button class="btn_d btn_full" type="button">댓글등록</button>
                                  </div>
                              </div>
                              <div class="qa_plus btn_vide btn_c">
                                  <a href="myQa.html">+ 더보기</a>
                              </div>
                          </div>
                          <div class="logout_maqa">
                              <div class="logout_notice">로그인 후 이용 가능합니다.</div>
                              <button class="btn_b btn_vide"type="button">로그인</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>




      <!-- End Wrapper -->

      <!-- footer -->
      <div id="footer">
          <div class="container">
              <div class="wrap_foot row">
                  <div class="foot_logo col-md-offset-3 col-md-3"><h3>· A source ·</h3></div>
                  <div class="foot_contents col-md-6">
                      <div class="address">
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>회사소개</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>이용약관</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>개인정보취급방침</li>
                              </ul>
                          </div>
                          <br/>
                          <div class="">
                              <span>사업자등록번호 : 000-88-00000</span>
                              <span> ┃ </span>
                              <span>통신판매업신고 : 제 2017-서울종로-00000호</span>
                          </div>
                          <br />
                          <div class="">주소 :  서울시 종로구 율곡로 10길 20 (정경빌딩201호)</div>
                          <br />
                          <div class="">
                              <spna>Tel. 070-4327-6575</span>
                              <spna> ┃ </span>
                              <spna> fax. 070-8630-6580</span>
                          </div>
                          <br />
                          <div class="">E-mail : freeive16@gmail.com</div>
                          <br/>
                          <div class="copyright">저작권 &copy; 2017 Freeive.Inc All Rights Reserved.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End footer -->
      <script type="text/javascript" src="js/scripts.js"></script>
      <script type="text/javascript">

      </script>
  </body>
</html>
