<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>A source</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
      <!-- header -->
      <div id="header top">
          <!-- <div class="container-fluid">
              <div class="wrap_head">
                  <div class="logo">
                      <h1><a href="index.html">· A source ·</a></h1>
                  </div>
                  <div class="gnb"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                  <div class="gnb_list">
                      <div class="gnb_menu">
                          <ul>
                              <li class="gnb_li">
                                  <button class="btn_a" type="button">로그인</button>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:38px;" href="myBuy.html">My Page</a>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:44px;" href="#"><i class="glyphicon glyphicon-bell"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="gnb_close">
                          <button class="btn_close" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid lnb">
              <div class="wrap_lnb">
                  <ul class="course_lnb">
                      <li><a href="#">HTML</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="#">CSS</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li style="margin:0 10px;"><a href="#">javascript</a></li>
                  </ul> -->
                  <!-- <ul class="mypage_lnb">
                      <li><a href="myQa.html">내질문</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="myBuy.html">구매내역</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li><a href="myBookmark.html">즐겨찾기</a></li>
                  </ul> -->
              <!-- </div>
          </div> -->
          <div class="container-fluid top">
              <div class="wrap_head">
                  <div class="top_header">
                      <h2><a href="index.html">· A source ·</a></h2>
                  </div>
                  <button class="gnb_top" type="button">로그인</button>
                  <div class="gnb_menu menu_open">
                      <button class="menu_1" type="button">Menu</button>
                  </div>
                  <div class="gnb_menu menu_close">
                      <button class="menu_1" type="button">Close</button>
                      <div class="menu_list_1">
                        <button class="menu_2" type="button">My page</button>
                        <button class="menu_3" type="button">공지사항</button>
                        <button class="menu_4" type="button">로그아웃</button>
                      </div>
                      <div class="menu_list_2">
                          <div class="gnb_menu">
                              <a class="menu_mybuy" href="myBuy.html" >구매내역</a>
                              <a class="menu_myqa" href="myBuy.html">내질문</a>
                              <a class="menu_bookmark" href="myBuy.html">즐겨찾기</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End header -->

      <!-- Wrapper -->
      <div id="wrapper">
          <div class="container">
            <div class="contents row">
                <div class="content_top col-md-offset-3 col-md-6 ">
                    <div class="content_title">
                        <span class="title_text">
                          HTML를 기초부터 고급까지 웹퍼블리셔가 될 수 있도록
                          <br /> 누구든지 바로 시작 할 수 있습니다.
                        </span>
                    </div>
                    <div class="title_img">
                        <img src="/images/html_logo.jpg" alt="html로고" />
                    </div>
                    <div class="content_btn">
                        <button class="btn_b btn_vide" type="button">쿠폰등록</button>
                        <button class="btn_b btn_full btn_view" type="button">강의보기</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="container-fluid lnb"></div>
          <div class="container container_bottom">
              <div class="contents" id="standardWidth">
                  <div class="content_bottom">
                      <div class="teacher">
                          <span>둔기</span>
                          <i class="glyphicon glyphicon-user"></i>
                      </div>

                      <div class="course old">
                          <div class="course_btn line_top">
                              <button class="btn_c btn_full btn_old" type="button">오래된순</button>
                              <div>
                                  <img src="images/list_line.png" alt="선">
                              </div>
                              <button class="btn_c btn_vide btn_new" type="button">최신순</button>
                          </div>
                          <div class="course_list">
                              <ul>
                                  <li class="box_right">
                                      <br />
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">HTML이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문서만들기</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문서만들기</h3>
                                            </div>
                                            <div class="detail_icon">
                                              <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                              <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                              <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                              <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                              <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                              <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="on list_title" type="button">웹표준이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>웹표준이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문법</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문법</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">추가정보를 만드는 속성</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>추가정보를 만드는 속성</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                    <br />
                                    <br />
                                  </li>
                              </ul>
                          </div>
                          <div class=" line_bottom">
                              <div>
                                  <img src="images/list_line_2.png" alt="선">
                              </div>
                          </div>
                      </div>

                      <div class="course new">
                          <div class="course_btn line_top">
                              <button class="btn_c btn_vide btn_old" type="button">오래된순</button>
                              <div>
                                  <img src="images/list_line.png" alt="선">
                              </div>
                              <button class="btn_c btn_full btn_new" type="button">최신순</button>
                          </div>
                          <div class="course_list">
                              <ul>
                                  <li class="box_right">
                                    <br />
                                    <br />
                                    <div class="circle_a circle">
                                        <img src="images/circle_bs.png" alt="원 안에 별">
                                    </div>
                                    <div class="box_right_btn">
                                        <button class="list_title" type="button">추가정보를 만드는 속성</button>
                                        <div class="detail">
                                          <div class="detail_title">
                                              <h3>추가정보를 만드는 속성</h3>
                                          </div>
                                          <div class="detail_icon">
                                              <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                              <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                              <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                              <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                              <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                              <span>35</span>
                                          </div>
                                          <div class="detail_btn">
                                              <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                              <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                          </div>
                                          <div class="detail_text">
                                              <span>HTML에서 웹표준에 대한 이야기입니다.
                                                <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                <br />외우려고 너무 애쓰지마세요~</span>
                                          </div>
                                        </div>
                                    </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문법</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문법</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원 안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="on list_title" type="button">웹표준이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>웹표준이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문서만들기</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문서만들기</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">HTML이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                    <br />
                                    <br />
                                  </li>
                              </ul>
                          </div>
                          <div class=" line_bottom">
                              <div>
                                  <img src="images/list_line_2.png" alt="선">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Wrapper -->

      <!-- footer -->
      <div id="footer">
          <div class="container">
              <div class="wrap_foot row">
                  <div class="foot_logo col-md-offset-3 col-md-3"><h3>· A source ·</h3></div>
                  <div class="foot_contents col-md-6">
                      <div class="address">
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>회사소개</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>이용약관</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>개인정보취급방침</li>
                              </ul>
                          </div>
                          <br/>
                          <div class="">
                              <span>사업자등록번호 : 000-88-00000</span>
                              <span> ┃ </span>
                              <span>통신판매업신고 : 제 2017-서울종로-00000호</span>
                          </div>
                          <br />
                          <div class="">주소 :  서울시 종로구 율곡로 10길 20 (정경빌딩201호)</div>
                          <br />
                          <div class="">
                              <spna>Tel. 070-4327-6575</span>
                              <spna> ┃ </span>
                              <spna> fax. 070-8630-6580</span>
                          </div>
                          <br />
                          <div class="">E-mail : freeive16@gmail.com</div>
                          <br/>
                          <div class="copyright">저작권 &copy; 2017 Freeive.Inc All Rights Reserved.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End footer -->
      <script type="text/javascript" src="js/scripts.js"></script>
      <script type="text/javascript">

      </script>
  </body>
</html>
