{% extends "./blocks/layout.html" %}
{% block content %}
          <div class="container">
            <div class="contents_course row">
                <div class="content_top col-md-offset-3 col-md-6 ">
                    <div class="content_title">
                        <div class="course_title">
                          <h1>CSS</h1>
                        </div>
                        <span class="title_text">
                          HTML를 기초부터 고급까지 웹퍼블리셔가 될 수 있도록
                          <br /> 누구든지 바로 시작 할 수 있습니다.
                        </span>
                    </div>
                    <div class="title_img">
                        <img src="/images/html_logo.jpg" alt="html로고" />
                    </div>
                    <div class="content_btn">
                        <button class="btn_b btn_vide btn_click" type="button" data-toggle="modal" data-target="#modal_coupon">쿠폰등록</button>
                        <button class="btn_b btn_full btn_view" type="button">강의보기</button>
                    </div>
                </div>
            </div>
          </div>

          <div class="container container_bottom">
              <div class="container-fluid lnb"></div>
              <div class="contents" id="standardWidth">
                  <div class="content_bottom">
                      <div class="teacher">
                          <span>둔기</span>
                          <button type="button" data-toggle="modal" data-target="#modal_teacher"> <i class="glyphicon glyphicon-user"></i></button>
                      </div>

                      <div class="course old">
                          <div class="course_btn line_top">
                              <button class="btn_c btn_full btn_old" type="button">오래된순</button>
                              <div>
                                  <img src="images/list_line.png" alt="선">
                              </div>
                              <button class="btn_c btn_vide btn_new" type="button">최신순</button>
                          </div>
                          <div class="course_list">
                              <ul>
                                  <li class="box_right">
                                      <br />
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">HTML이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문서만들기</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문서만들기</h3>
                                            </div>
                                            <div class="detail_icon">
                                              <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                              <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                              <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                              <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                              <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                              <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="on list_title" type="button">웹표준이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>웹표준이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문법</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문법</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com" title="github"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net" title="jsfiddle"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button" title="장바구니 추가"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button" title="즐겨찾기 추가"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button" title="좋아요"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">추가정보를 만드는 속성</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>추가정보를 만드는 속성</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                    <br />
                                    <br />
                                  </li>
                              </ul>
                          </div>
                          <div class=" line_bottom">
                              <div>
                                  <img src="images/list_line_2.png" alt="선">
                              </div>
                          </div>
                      </div>

                      <div class="course new">
                          <div class="course_btn line_top">
                              <button class="btn_c btn_vide btn_old" type="button">오래된순</button>
                              <div>
                                  <img src="images/list_line.png" alt="선">
                              </div>
                              <button class="btn_c btn_full btn_new" type="button">최신순</button>
                          </div>
                          <div class="course_list">
                              <ul>
                                  <li class="box_right">
                                    <br />
                                    <br />
                                    <div class="circle_a circle">
                                        <img src="images/circle_bs.png" alt="원 안에 별">
                                    </div>
                                    <div class="box_right_btn">
                                        <button class="list_title" type="button">추가정보를 만드는 속성</button>
                                        <div class="detail">
                                          <div class="detail_title">
                                              <h3>추가정보를 만드는 속성</h3>
                                          </div>
                                          <div class="detail_icon">
                                              <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                              <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                              <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                              <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                              <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                              <span>35</span>
                                          </div>
                                          <div class="detail_btn">
                                              <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                              <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                          </div>
                                          <div class="detail_text">
                                              <span>HTML에서 웹표준에 대한 이야기입니다.
                                                <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                <br />외우려고 너무 애쓰지마세요~</span>
                                          </div>
                                        </div>
                                    </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문법</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문법</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_bs.png" alt="원 안에 별">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="on list_title" type="button">웹표준이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>웹표준이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                      <br />
                                      <div class="box_left_btn">
                                          <button class="list_title" type="button">HTML 문서만들기</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML 문서만들기</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                  </li>
                                  <li class="box_right">
                                      <br />
                                      <div class="circle_a circle">
                                          <img src="images/circle_b.png" alt="원">
                                      </div>
                                      <div class="box_right_btn">
                                          <button class="list_title" type="button">HTML이란?</button>
                                          <div class="detail">
                                            <div class="detail_title">
                                                <h3>HTML이란?</h3>
                                            </div>
                                            <div class="detail_icon">
                                                <a href="//github.com"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a href="//jsfiddle.net"><i class="glyphicon glyphicon-ok"></i></a>
                                                <button type="button"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-star"></i></button>
                                                <button type="button"><i class="glyphicon glyphicon-heart"></i></button>
                                                <span>35</span>
                                            </div>
                                            <div class="detail_btn">
                                                <a class="btn_c btn_full" href="courseView.html">강의보기</a>
                                                <a class="btn_c btn_vide" href="buy.html">구매하기</a>
                                            </div>
                                            <div class="detail_text">
                                                <span>HTML에서 웹표준에 대한 이야기입니다.
                                                  <br />의미만 가볍게 알고  넘어가시면 되는 이야기라고 생각하시면 됩니다.
                                                  <br />외우려고 너무 애쓰지마세요~</span>
                                            </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="box_left">
                                    <br />
                                    <br />
                                  </li>
                              </ul>
                          </div>
                          <div class=" line_bottom">
                              <div>
                                  <img src="images/list_line_2.png" alt="선">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      <!-- Modal -->
          <!-- coupon -->
          <div class="modal fade" id="modal_coupon" tabindex="-1" role="dialog" aria-labelledby="modalLable_coupon" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="modalLable_coupon">쿠폰등록</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="container-fluid">
                              <div class="row">
                                <div class="form-group left col-md-offset-1 col-md-10">
                                    <label for="coupon_number" class="control-label">쿠폰번호를 입력해 주세요.</label>
                                    <input type="text" class="form-control" id="coupon_number">
                                </div>
                              </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn_vide">등록하기</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End coupon -->
          <!-- teacher -->
          <div class="modal fade" id="modal_teacher" tabindex="-1" role="dialog" aria-labelledby="modalLabel_teacher" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h3 class="modal-title" id="modalLabel_teacher">둔기쌤을 소개합니다.</h3>
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col-md-6">
                                      <img src="/images/html_logo.jpg" alt="강사사진" />
                                  </div>
                                  <div class="col-md-6 teacher_info">
                                      <div class="left teacher_line">
                                          <h4>경력</h4>
                                          <dl>
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                              <br />
                                              <dt>2016.01-2017.01</dt>
                                              <dd>하이미디어 컴퓨터학원 강사</dd>
                                          </dl>
                                      </div>
                                      <div class="left">
                                          <h4>저서</h4>
                                          <dl>
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                              <br />
                                              <dt>2016.01</dt>
                                              <dd>퍼블리셔가 되어보자</dd>
                                          </dl>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn_vide" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End teacher -->
        <!-- End Modal -->
{% endblock %}
