{% extends "./blocks/layout.html" %}
{% block content %}
          <div class="container">
              <div class="contents row">
                  <div class="content_top">
                      <div class="course_title">
                        <h1>즐겨찾기</h1>
                      </div>
                  </div>
                  <div class="mypage bookmark col-md-6">
                      <div class="list">
                          <div class="mypage_title"><h3>즐겨찾기</h3></div>
                          <div class="basic_list">
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.24</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.20</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.14</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.4</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.24</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.20</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.14</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 즐겨찾기 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.4</span>
                                  </div>
                              </div>
                        </div>
                      </div>
                  </div>
                  <div class="mypage like  col-md-5">
                      <div class="list">
                            <div class="mypage_title"><h3>좋아요</h3></div>
                            <div class="basic_list">
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">내가 좋아요 한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">2017.01.24</span>
                                  </div>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
{% endblock %}
