{% extends "./blocks/layout.html" %}
{% block content %}
          <div class="container">
              <div class="contents row">
                <div class="content_top">
                    <div class="course_title">
                      <h1>구매정보</h1>
                    </div>
                </div>
                <div class="col-md-5 apply_coupon_point">
                  <div class="mypage apply_point col-md-12">
                      <div class="list">
                          <div class="mypage_title"><h3>쿠폰적립</h3></div>
                          <div class="mypoint">
                              <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    <div class="user_point">사용 가능한 적립금&nbsp;&nbsp;:&nbsp;&nbsp; <span>10,000</span>&nbsp;원</div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mypage  col-md-12">
                      <div class="list">
                          <div class="mypage_title"><h3>쿠폰적립</h3></div>
                          <div class="mycoupon">
                              <div class="my_list col-md-offset-1 col-md-10">
                                 <input class="col-md-9 col-sm-9 col-xs-9" type="text" placeholder="쿠폰번호를 등록해 주세요"/>
                                 <div class="btn_right">
                                     <button class="btn_d btn_full" type="button">쿠폰등록</button>
                                 </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : N</span>
                                    <span class="info_date"></span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : Y</span>
                                    <span class="info_date">2017.01.26</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : N</span>
                                    <span class="info_date"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                  <div class="mypage my_buy col-md-6">
                      <div class="list">
                          <div class="mypage_title"><h3>구매내역</h3></div>
                          <div class="basic_list">
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
{% endblock %}
