<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>A source</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
      <!-- header -->
      <div id="header">
          <div class="container-fluid">
              <div class="wrap_head">
                  <div class="logo">
                      <h1><a href="index.html">· A source ·</a></h1>
                  </div>
                  <div class="gnb"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                  <div class="gnb_list">
                      <div class="gnb_menu">
                          <ul>
                              <li class="gnb_li">
                                  <button class="btn_a" type="button">로그인</button>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:38px;" href="myBuy.html">My Page</a>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:44px;" href="#"><i class="glyphicon glyphicon-bell"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="gnb_close">
                          <button class="btn_close" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid lnb">
              <div class="wrap_lnb">
                  <ul class="mypage_lnb">
                      <li><a href="myQa.html">내 질문</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="myBuy.html">구매내역</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li><a href="myBookmark.html">즐겨찾기</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- End header -->

      <!-- Wrapper -->
      <div id="wrapper">
          <div class="container">
              <div class="contents row">
                <div class="col-md-5 apply_coupon_point">
                  <div class="mypage apply_point col-md-12">
                      <div class="list">
                          <div class="mypage_title"><h3>쿠폰적립</h3></div>
                          <div class="mypoint">
                              <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    <div class="user_point">사용 가능한 적립금&nbsp;&nbsp;:&nbsp;&nbsp; <span>10,000</span>&nbsp;원</div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mypage  col-md-12">
                      <div class="list">
                          <div class="mypage_title"><h3>쿠폰적립</h3></div>
                          <div class="mycoupon">
                              <div class="my_list col-md-offset-1 col-md-10">
                                 <input class="col-md-9 col-sm-9 col-xs-9" type="text" placeholder="쿠폰번호를 등록해 주세요"/>
                                 <div class="btn_right">
                                     <button class="btn_d btn_full" type="button">쿠폰등록</button>
                                 </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : N</span>
                                    <span class="info_date"></span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : Y</span>
                                    <span class="info_date">2017.01.26</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      쿠폰번호 : 0987654321
                                  </div>
                                  <div class="course_info">
                                    <span>사용여부 : N</span>
                                    <span class="info_date"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                  <div class="mypage my_buy col-md-6">
                      <div class="list">
                          <div class="mypage_title"><h3>구매내역</h3></div>
                          <div class="basic_list">
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                              <div class="my_list col-md-offset-1 col-md-10">
                                  <div class="user_title">
                                      <a href="courseView.html">구매한 강의 제목</a>
                                  </div>
                                  <div class="course_info">
                                    <span>선생님이름</span>
                                    <span class="info_date">(구매날짜)</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
      </div>
      <!-- End Wrapper -->

      <!-- footer -->
      <div id="footer">
          <div class="container">
              <div class="wrap_foot row">
                  <div class="foot_logo col-md-offset-3 col-md-3"><h3>· A source ·</h3></div>
                  <div class="foot_contents col-md-6">
                      <div class="address">
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>회사소개</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>이용약관</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>개인정보취급방침</li>
                              </ul>
                          </div>
                          <br/>
                          <div class="">
                              <span>사업자등록번호 : 000-88-00000</span>
                              <span> ┃ </span>
                              <span>통신판매업신고 : 제 2017-서울종로-00000호</span>
                          </div>
                          <br />
                          <div class="">주소 :  서울시 종로구 율곡로 10길 20 (정경빌딩201호)</div>
                          <br />
                          <div class="">
                              <spna>Tel. 070-4327-6575</span>
                              <spna> ┃ </span>
                              <spna> fax. 070-8630-6580</span>
                          </div>
                          <br />
                          <div class="">E-mail : freeive16@gmail.com</div>
                          <br/>
                          <div class="copyright">저작권 &copy; 2017 Freeive.Inc All Rights Reserved.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End footer -->
      <script type="text/javascript" src="js/scripts.js"></script>
      <script type="text/javascript">

      </script>
  </body>
</html>
