{% extends "./blocks/layout.html" %}
{% block content %}
          <div class="container">
              <div class="contents row">
                <div class="content_top">
                    <div class="course_title">
                        <h1>공지사항</h1>
                    </div>
                </div>
                <div class="notice table-responsive">
                    <table class="table table-hover ">
                        <caption style="text-indent:-999999px; position:absolute;"></caption>
                        <colgroup>
                             <col width="50" />
                             <col />
                             <col width="100" />
                             <col width="100" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th class="center">제목</th>
                                <th class="hidden-xs center">작성자</th>
                                <th class="center">날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="center">3</th>
                                <td>
                                    <a class="left" href="noticeSub.html">아소스 공지사항아소스 공지사항아소스 공지사항아소스 공지사항아소스공지사항아소스
                                    공지사항아소스 공지사항아소스공지사항아소스 공지사항아소스 공지사항아소스</a>
                                </td>
                                <td class="hidden-xs center">둔기</td>
                                <td>2017.02.04</td>
                            </tr>
                            <tr>
                                <th class="center">2</th>
                                <td>
                                    <a class="left" href="noticeSub.html">아소스 공지사항아소스 공지사항아소스 공지사항아소스 공지사항아소스공지사항아소스
                                    공지사항아소스 공지사항아소스공지사항아소스 공지사항아소스 공지사항아소스</a>
                                </td>
                                <td class="hidden-xs center">둔기</td>
                                <td>2017.02.03</td>
                            </tr>
                            <tr>
                                <th class="center">1</th>
                                <td>
                                      <a class="left" href="noticeSub.html">아소스 공지사항</a>
                                </td>
                                <td class="hidden-xs center">둔기</td>
                                <td>2017.02.01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  <div class="content_top">
                      <div class="course_title">
                        <h1>내 질문</h1>
                      </div>
                  </div>
                  <div class="mypage myqa_list col-md-6">
                      <div class="list">
                          <div class="mypage_title"><h3>내 질문</h3></div>
                          <div class="basic_list">
                            <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    내 질문 제목1입니다.
                                </div>
                                <div class="user_text">
                                  내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"   placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button">댓글등록</button>
                                </div>
                            </div>
                            <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                  내 질문 제목2입니다.
                                </div>
                                <div class="user_text">
                                    내가 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <div class="user_reply">
                                  ↘ &nbsp;&nbsp;2017년 1월4일에 내가 남긴 질문에 대한 댓글입니다.(아이디)
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"  placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button">댓글등록</button>
                                </div>
                            </div>
                            <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    내 질문 제목1입니다.
                                </div>
                                <div class="user_text">
                                  내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"   placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button" >댓글등록</button>
                                </div>
                            </div>
                            <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                  내 질문 제목2입니다.
                                </div>
                                <div class="user_text">
                                    내가 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <div class="user_reply">
                                  ↘ &nbsp;&nbsp;2017년 1월4일에 내가 남긴 질문에 대한 댓글입니다.(아이디)
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"  placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button">댓글등록</button>
                                </div>
                            </div>
                            <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    내 질문 제목1입니다.
                                </div>
                                <div class="user_text">
                                  내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"   placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button">댓글등록</button>
                                </div>
                            </div>
                            <div class="my_list col-md-offset-1 col-md-10">
                              <div class="user_title">
                                내 질문 제목2입니다.
                              </div>
                              <div class="user_text">
                                  내가 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                              </div>
                              <div class="user_reply">
                                ↘ &nbsp;&nbsp;2017년 1월4일에 내가 남긴 질문에 대한 댓글입니다.(아이디)
                              </div>
                              <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"  placeholder="댓글을 남겨주세요"></textarea>
                              <div class="btn_right">
                                  <button class="btn_d btn_full" type="button">댓글등록</button>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                  <div class="mypage myqa_reply col-md-5">
                      <div class="list">
                            <div class="mypage_title"><h3>내 댓글</h3></div>
                            <div class="basic_list">
                                <div class="my_list col-md-offset-1 col-md-10">
                                    <div class="user_title">
                                        내 질문 제목1입니다.
                                    </div>
                                    <div class="user_text">
                                      내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                    </div>
                                    <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"   placeholder="댓글을 남겨주세요"></textarea>
                                    <div class="btn_right">
                                        <button class="btn_d btn_full" type="button">댓글등록</button>
                                    </div>
                                </div>
                                <div class="my_list col-md-offset-1 col-md-10">
                                    <div class="user_title">
                                      내 질문 제목2입니다.
                                    </div>
                                    <div class="user_text">
                                        내가 2017년 1월 4일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                    </div>
                                    <div class="user_reply">
                                      ↘ &nbsp;&nbsp;2017년 1월4일에 내가 남긴 질문에 대한 댓글입니다.(아이디)
                                    </div>
                                    <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"  placeholder="댓글을 남겨주세요"></textarea>
                                    <div class="btn_right">
                                        <button class="btn_d btn_full" type="button">댓글등록</button>
                                    </div>
                                </div>
                                <div class="my_list col-md-offset-1 col-md-10">
                                <div class="user_title">
                                    내 질문 제목1입니다.
                                </div>
                                <div class="user_text">
                                  내가 2017년 1월 24일에 남긴 웹표준이란? 이란 강의의 질문 입니다.
                                </div>
                                <textarea class="col-md-12 col-sm-12 col-xs-12" name="name" rows="2"   placeholder="댓글을 남겨주세요"></textarea>
                                <div class="btn_right">
                                    <button class="btn_d btn_full" type="button">댓글등록</button>
                                </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
{% endblock %}
