{% extends "./blocks/layout.html" %}
{% block content %}
          <div class="container">
              <div class="contents row">
                  <div class="content_top">
                      <div class="course_title">
                          <h1>공지사항</h1>
                      </div>
                  </div>
                  <div class="notice table-responsive">
                      <table class="table">
                          <caption style="text-indent:-999999px; position:absolute;">공지사항</caption>
                          <colgroup>
                               <col />
                               <col width="100" class="hidden-xs"/>
                          </colgroup>
                          <thead>
                              <tr>
                                  <th style="padding-left:40px;">아소스 공지 사항 서브페이지입니다.</th>
                                  <th class="center notice_sub" style="padding-right:15px;">2017.02.01</th>
                                  <!-- <th class="hidden-xs center notice_sub">둔기</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td colspan="3">
                                      <div>
                                        <div class="right notice_writer">작성자 &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<strong>둔기</strong></div>
                                        <div class="notice_text">
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. 아소스 공지 사항 서브페이지 테스트입니다.아소스
                                              공지 사항  서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항
                                              서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지
                                              테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.</p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>

                                        </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="prev_list center">
                      <a href="notice.html" class="btn_b btn_full btn_view">목록보기</a>
                  </div>
              </div>
          </div>
{% endblock %}
