<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>A source</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
      <!-- header -->
      <div id="header top">
          <!-- <div class="container-fluid">
              <div class="wrap_head">
                  <div class="logo">
                      <h1><a href="index.html">· A source ·</a></h1>
                  </div>
                  <div class="gnb"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                  <div class="gnb_list">
                      <div class="gnb_menu">
                          <ul>
                              <li class="gnb_li">
                                  <button class="btn_a" type="button">로그인</button>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:38px;" href="myBuy.html">My Page</a>
                              </li>
                              <li class="gnb_li btn_a">
                                  <a style="line-height:44px;" href="#"><i class="glyphicon glyphicon-bell"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="gnb_close">
                          <button class="btn_close" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid lnb">
              <div class="wrap_lnb">
                  <ul class="course_lnb">
                      <li><a href="#">HTML</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="#">CSS</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li style="margin:0 10px;"><a href="#">javascript</a></li>
                  </ul> -->
                  <!-- <ul class="mypage_lnb">
                      <li><a href="myQa.html">내질문</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-left"></i></li>
                      <li><a href="myBuy.html">구매내역</a></li>
                      <li class="icon_lnb"><i class="glyphicon glyphicon-chevron-right"></i></li>
                      <li><a href="myBookmark.html">즐겨찾기</a></li>
                  </ul> -->
              <!-- </div>
          </div> -->
          <div class="container-fluid top">
              <div class="wrap_head">
                  <div class="top_header">
                      <h2><a href="index.html">· A source ·</a></h2>
                  </div>
                  <div class="gnb_menu menu_open">
                      <button class="menu_1" type="button">Menu</button>
                  </div>
                  <div class="gnb_menu menu_close">
                      <button class="menu_1" type="button">Close</button>
                      <div class="menu_list_1">
                        <button class="menu_2" type="button">카테고리</button>
                        <button class="menu_3" type="button">My page</button>
                        <a class="menu_4 menu_noti" href="notice.html">공지사항</a>
                        <button class="menu_4" type="button">로그인</button>
                        <button class="menu_4" type="button">로그아웃</button>
                      </div>
                      <div class="menu_list_2">
                          <div class="gnb_menu">
                              <a class="menu_html top_menu" href="index.html" >HTML</a>
                              <a class="menu_css top_menu" href="index.html" >CSS</a>
                          </div>
                      </div>
                      <div class="menu_list_3">
                          <div class="gnb_menu">
                              <a class="menu_mybuy top_menu" href="myBuy.html" >구매정보</a>
                              <a class="menu_myqa top_menu" href="myQa.html">내질문</a>
                              <a class="menu_bookmark top_menu" href="myBookmark.html">즐겨찾기</a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <!-- End header -->

      <!-- Wrapper -->
      <div id="wrapper">
          <div class="container">
              <div class="contents row">
                  <div class="content_top">
                      <div class="course_title">
                          <h1>공지사항</h1>
                      </div>
                  </div>
                  <div class="notice table-responsive">
                      <table class="table">
                          <caption style="text-indent:-999999px; position:absolute;">공지사항</caption>
                          <colgroup>
                               <col />
                               <col width="100" class="hidden-xs"/>
                          </colgroup>
                          <thead>
                              <tr>
                                  <th style="padding-left:40px;">아소스 공지 사항 서브페이지입니다.</th>
                                  <th class="center notice_sub" style="padding-right:15px;">2017.02.01</th>
                                  <!-- <th class="hidden-xs center notice_sub">둔기</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td colspan="3">
                                      <div>
                                        <div class="right notice_writer">작성자 &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<strong>둔기</strong></div>
                                        <div class="notice_text">
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. 아소스 공지 사항 서브페이지 테스트입니다.아소스
                                              공지 사항  서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항
                                              서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지
                                              테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.
                                              아소스 공지 사항 서브페이지 테스트입니다.아소스 공지 사항 서브페이지 테스트입니다.</p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>
                                            <p>아소스 공지 사항 서브페이지 테스트입니다. </p>

                                        </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="prev_list center">
                      <a href="notice.html" class="btn_b btn_full btn_view">목록보기</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Wrapper -->

      <!-- footer -->
      <div id="footer">
          <div class="container">
              <div class="wrap_foot row">
                  <div class="foot_logo col-md-offset-3 col-md-3"><h3>· A source ·</h3></div>
                  <div class="foot_contents col-md-6">
                      <div class="address">
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>회사소개</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>이용약관</li>
                                  <li>┃</li>
                                  <li><a href="javascript:alert('준비중입니다.')"></a>개인정보취급방침</li>
                              </ul>
                          </div>
                          <br/>
                          <div class="">
                              <span>사업자등록번호 : 000-88-00000</span>
                              <span> ┃ </span>
                              <span>통신판매업신고 : 제 2017-서울종로-00000호</span>
                          </div>
                          <br />
                          <div class="">주소 :  서울시 종로구 율곡로 10길 20 (정경빌딩201호)</div>
                          <br />
                          <div class="">
                              <spna>Tel. 070-4327-6575</span>
                              <spna> ┃ </span>
                              <spna> fax. 070-8630-6580</span>
                          </div>
                          <br />
                          <div class="">E-mail : freeive16@gmail.com</div>
                          <br/>
                          <div class="copyright">저작권 &copy; 2017 Freeive.Inc All Rights Reserved.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End footer -->
      <script type="text/javascript" src="js/scripts.js"></script>
      <script type="text/javascript">

      </script>
  </body>
</html>
