@charset "utf-8";
@import url('../css/font.css');
/* ======  Reset  ====================================================*/
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
html {
  font-size: 14px;
}
body {
  position: relative;
  font-family: 'Noto Sans KR', 'Droid Serif', sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button {
  margin: 0;
  padding: 0;
}
dl,
ul,
ol,
li {
  list-style: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a:focus {
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
}
input,
button {
  vertical-align: middle;
}
::-moz-selection {
  background: #000;
  color: #FFF;
}
::selection {
  background: #000;
  color: #FFF;
}
button {
  border: 0;
  background: none;
}
img {
  width: 100%;
  height: 100%;
}
/* End reset */
/* ====== Icon & Button ======================================== */
.btn_a {
  height: 40px;
}
.btn_b {
  width: 140px;
  height: 40px;
}
.btn_c {
  width: 95px;
  height: 30px;
}
.btn_d {
  width: 60px;
  height: 30px;
}
.btn_vide {
  border: 1px #000 solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
}
.btn_vide:hover {
  color: #000;
}
.btn_full {
  border: 1px #000 solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #000;
  color: #FFF;
}
.btn_full:hover {
  color: #FFF;
}
.btn_close {
  width: 25px;
  height: 25px;
}
.btn_fix {
  font-size: 40px;
}
.btn_right {
  text-align: right;
}
.circle_a {
  width: 25px;
  height: 25px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.circle_b {
  width: 20px;
  height: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
i {
  font-size: 20px;
}
/* End Icon & Button */
.container {
  outline: 1px #000 solid;
}
.container-fluid {
  outline: 1px #000 solid;
}
.contents {
  outline: 1px #F00 solid;
}
.view_video {
  outline: 1px #F00 solid;
}
/* ====== header ============================================== */
#header {
  width: 100%;
  height: 140px;
}
.wrap_haed {
  width: 100%;
  position: relative;
}
.logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 30px 0 30px 40px;
}
.gnb {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  margin: 43px 40px 30px 0;
}
.gnb i {
  font-size: 25px;
}
.gnb_list {
  display: none;
  width: 100px;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #FFF;
}
.gnb_li {
  text-align: center;
  width: 100px;
  border-left: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
}
.gnb_li:first-child {
  border-top: 1px #000 solid;
}
.gnb_li a {
  line-height: 40px;
}
.gnb_close button {
  position: absolute;
  top: -10px;
  right: -10px;
}
.lnb {
  background-color: #CCC;
  height: 40px;
  width: 100%;
}
.wrap_lnb {
  width: 100%;
  padding: 8px 0;
}
.wrap_lnb ul {
  width: 360px;
  margin: 0 auto;
  text-align: center;
}
.wrap_lnb ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  vertical-align: top;
  width: 80px;
}
.wrap_lnb ul .icon_lnb {
  width: 20px;
}
/* End header */
/* ====== wrapper ============================================== */
#wrapper {
  text-align: center;
  position: relative;
}
/* End wrapper */
/* ====== Footer ============================================== */
#footer {
  background-color: #333333;
  color: #FFF;
  width: 100%;
  font-size: 12px;
}
.wrap_foot {
  padding: 18px 0;
}
.wrap_foot .foot_logo {
  float: left;
  margin: 35px 30px;
  height: 30px;
  text-align: center;
}
.wrap_foot .foot_contents {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.address div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.footer_menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px 5px;
}
.footer_menu li:first-child {
  padding-left: 0;
}
/* End footer */
/*Contants*/
/* ======== Content_top ============================ */
.contents {
  padding: 35px 0;
}
.content_top {
  text-align: center;
}
.content_top .content_title {
  margin: 20px 0 15px;
}
.content_top .title_img {
  width: 200px;
  height: 150px;
  margin: 0 auto 70px;
}
.content_top .title_img img {
  width: 100%;
}
.content_top .content_btn button {
  margin: 0 5px;
}
/* End content_top*/
/* ======== Content_bottom ============================ */
.container_bottom {
  display: none;
}
.teacher span {
  font-size: 20px;
}
.course {
  outline: 1px #F00 solid;
  width: 100%;
  position: relative;
}
.course_btn {
  position: absolute;
  z-index: 10;
}
.course_btn div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.line_top div {
  width: 40px;
  height: 30px;
}
.line_bottom img {
  width: 60px;
  height: 30px;
  position: relative;
  top: -56px;
}
.course_list {
  margin: 40px 0;
  position: relative;
}
.course_list .circle {
  position: absolute;
}
.box_left {
  border-right: 1px #000 solid;
  text-align: right;
}
.box_left .box_left_btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 20px;
}
.box_right {
  border-left: 1px #000 solid;
  text-align: left;
}
.box_right .box_right_btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 20px;
}
.new {
  display: none;
}
.detail {
  display: none;
}
.detail_icon {
  margin: 10px 0;
}
.detail_icon i {
  margin: 0 3px;
}
.detail_btn a {
  vertical-align: top;
  padding: 4px;
}
.detail_text {
  margin: 10px 0 50px;
}
/* End content_bottom*/
/* ====== video ============================================== */
.view_detail {
  text-align: left;
  margin-bottom: 15px;
}
.view_detail h2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  margin-left: 10px;
}
.view_detail .view_icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  margin-right: 10px;
}
.view_detail .view_icon a {
  vertical-align: middle;
}
.view_detail .view_icon .btn_buy {
  margin-left: 10px;
  padding: 3px;
}
.view_video video {
  width: 100%;
}
/* End video */
/* ====== fixed_button ============================================== */
.left_btn {
  position: fixed;
  top: 145px;
  left: 0;
}
.right_btn {
  position: fixed;
  top: 145px;
  right: 0;
}
.fix {
  outline: 1px #F00 solid;
  width: 320px;
  height: 600px;
  overflow-y: scroll;
  position: absolute;
  background-color: #FFF;
  top: 45px;
  z-index: 10;
}
.fix_list {
  left: 0;
  margin: 0;
  display: none;
}
.fix_epil_qa {
  right: 0;
  display: none;
}
.list_lnb {
  margin: 5px;
}
.list_lnb li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  vertical-align: top;
  width: 80px;
}
.list_lnb .icon_lnb {
  width: 20px;
}
.fix_line_top {
  position: absolute;
}
.fix_line_bottom img {
  width: 60px;
  height: 30px;
  position: relative;
  top: -15px;
}
.fix_list_box {
  position: relative;
  width: 100%;
}
.fix_list_box .box_left_btn {
  margin-right: 15px;
  margin-left: 5px;
}
.fix_list_box .box_right_btn {
  margin-left: 15px;
  margin-right: 5px;
}
.btn_epil_qa {
  margin: 5px;
}
.fix_common {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #a9a9a9 solid;
  padding: 5px 10px;
  width: 283px;
  margin: 7px auto;
}
.fix_common textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.new_epil_qa {
  margin: 20px auto;
}
.new_epil_qa input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.old_epil_qa {
  text-align: left;
}
.user_info {
  padding: 0 5px 5px;
}
.info_date {
  float: right;
}
.user_text {
  border-top: 1px #a9a9a9 solid;
  padding: 5px 5px 0 5px;
}
.user_title {
  border-top: 1px #a9a9a9 solid;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}
.user_reply {
  margin: 10px 5px 0 20px;
}
.login_myqa {
  margin: 20px 0;
}
.login_myqa .user_title {
  border: none;
}
.login_myqa .qa_plus {
  margin: 15px auto 0;
}
.login_myqa .qa_plus a {
  padding: 4px 18px;
}
.logout_maqa {
  display: none;
  margin-top: 60px;
}
.logout_maqa .logout_notice {
  margin: 10px;
}
.fix_qa {
  display: none;
}
.fix_myqa {
  display: none;
}
/* End fixed_button */
/*======== my Q&A ========================*/
.mypage {
  border: 1px #a9a9a9 solid;
  margin: 20px 20px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.basic_list {
  overflow-y: auto;
  height: 562px;
}
.mypage_title {
  margin: 20px 10px;
}
.list {
  text-align: left;
}
.list .my_list {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #a9a9a9 solid;
  margin-bottom: 20px;
}
.list .my_list .user_title {
  border: none;
}
.list .my_list input,
.list .my_list textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.list .btn_right button {
  margin: 10px 0;
}
/* End myQ&A*/
/*======== my Buy ========================*/
/* End my Buy*/
/*======== my Bookmark ========================*/
.course_info {
  padding: 5px 5px 10px;
  border-top: 1px #a9a9a9 solid;
}
/* End my Bookmark*/

/*# sourceMappingURL=style.css.map */