/* ======  Reset  ====================================================*/
html,body{width:100%;height:100%;position: relative;}
html{font-size:@content-size;}
body{position:relative; font-family: @font-ko;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0;}
dl,ul,ol,li{list-style:none;}
textarea{resize:none;}
a{
    text-decoration: none;
    color:@main-color;
   .inlineblock();
   text-align: center;
    &:hover{
        text-decoration: none;
        color:@main-color;
    }
    &:focus{
        text-decoration: none;
        // outline: none;
    }
    &:-webkit-any-link{
        text-decoration: none;
    }
}
input,button{vertical-align: middle;}
::-moz-selection{
    background: @main-color;
    color: @white-color;
}
::selection{
    background:  @main-color;
    color: @white-color;
}
button {border:0;background:none;}
img {width:100%; height:100%;}
legend{
    text-indent: -99999px;
    margin: 0;
    border: none;
    font-size: 0;
    line-height: 0;
}
/* End reset */

/* ====== Icon & Button ======================================== */
.btn_a{
    height: 40px;
}
.btn_b{
    width:140px;
    height: 40px;
}
.btn_c{
    width: 95px;
    height: 30px;
}
.btn_d{
    width: 60px;
    height: 30px;
}
.btn_vide{
    border:1px @main-color solid;
    .radius();
    background-color:@sub3-color;
    color:@main-color;
    &:hover{
        color:@main-color;
    }
}
.btn_full{
    border:1px @main-color solid;
    .radius();
    background-color:@main-color;
    color:@sub3-color;
    &:hover{
        color:@sub3-color;
    }
}
.btn_close{
    width: @icon-b;
    height:@icon-b;
}
.btn_fix{
    font-size: 40px;
}
.btn_right{
    text-align: right;
}
.btn_delete{
    float:right;
}
.circle_a{
    width: @icon-b;
    height:@icon-b;
    .inlineblock();
}
.circle_b{
    width: @icon-s;
    height:@icon-s;
    .inlineblock();
}
i{
    font-size: @icon-s;
}

/* End Icon & Button */
 //outline잡아둔거
// .container{
//     outline: @btn-out;
// }
// .container-fluid{
//     outline: @btn-out;
// }
// .contents{
//     outline: @out;
// }
// .view_video{
//   outline: @out;
//
// }
/* ====== header ============================================== */
#header{
    width: 100%;
    height: 140px;
}
.wrap_haed{
    width: 100%;
    position: relative;
}
.logo{
    .inlineblock();
    margin: 30px 0 30px 40px;
}
.gnb{
    .inlineblock();
    float: right;
    margin: 43px 40px 30px 0;
      i{
          font-size: @icon-b;
      }
}
.gnb_list{display: none;
    width:100px;
    position: absolute;
    top:40px;
    right:40px;
    background-color: @sub3-color;
}
.gnb_li{
    text-align: center;
    width: 100px;
    border-left: @btn-out;
    border-bottom: @btn-out;
    border-right: @btn-out;
      &:first-child{
          border-top: @btn-out;
      }
        a{
            line-height: 40px;
        }

}
.gnb_close{
    button{
        position: absolute;
        top:-10px;
        right:-10px;
    }
}

//lnb
.lnb{
    background-color: @sub2-color;
    height:40px;
    width: 100%;
}
.wrap_lnb{
    width: 100%;
    padding: 8px 0;
      ul{
          width: 360px;
          margin: 0 auto;
          text-align: center;
            li{
              .inlineblock();
              font-size: @menu-size;
              vertical-align: top;
              width: 80px;
            }
            .icon_lnb{
                width: @icon-s;
            }

      }
}

//top
#top{
    height: auto;
    position: relative;
}
.top{
    padding: 10px 20px;
    background: @sub2-color;
    margin-bottom: 10px;
}
.logout{outline-color: @main-color;
    position: relative;
    top:0;

}
.gnb_top{
    position: absolute;
    top:16px;
    right:30px;
}
.gnb_menu{outline: @main-color;
    width: 150px;
    position:absolute;
    z-index: 10;
    top:0;
    right:0;
    text-align: center;
      .menu_1{
          height:54px;
          padding:13px 0;
          font-size: 18px;
          background:  @sub1-color;
          color:@sub3-color;
      }

      button,a{
        width: 150px;
        height:40px;
        border-bottom:@menu-line;
        padding:8px 0;
        background: @sub2-color;
        color:@sub1-color;
        &:hover{
          background:  @sub1-color;
          color:@sub3-color;
        }
      }
      .top_menu{
        width: 150px;
        height:40px;
        border:@menu-line;
        border-top: none;
        padding:8px 0;
        background: @sub4-color;
        color:@sub3-color;
        &:hover{
          background:  @sub1-color;
          color:@sub3-color;
        }
      }


}
.menu_close{
    display: none;
}
.menu_list_2{
    position: absolute;
    top: 54px;
    right: 150px;
    display: none;
    z-index: 15;

}
.menu_list_3{
    position: absolute;
    top: 94px;
    right: 150px;
    display: none;
    z-index: 15;
}
/* End header */
/* ====== wrapper ============================================== */
#wrapper{
    position: relative;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
/* End wrapper */

/* ====== Footer ============================================== */

#footer{
    background-color:@sub4-color;
    color:#FFF;
    width:100%;
    font-size: @footer-size;
}
.wrap_foot{
    padding:18px 0;
      .foot_logo{
          float:left;
          margin: 35px 30px;
          height: 30px;
          text-align: center;
      }
      .foot_contents{
          .inlineblock();
      }
}
.address{
    div{
      .inlineblock();
    }
}
.footer_menu{
      li{
          .inlineblock();
          padding:0 5px 5px;
            &:first-child{
              padding-left: 0;
            }
      }
}
/* End footer */
