/* ====== video ============================================== */
.view_detail{
    text-align: left;
    margin-bottom: 15px;
    h2{
        .inlineblock();
        text-align: left;
        margin-left: 10px;
    }
    .view_icon{
        .inlineblock();
        float:right;
        margin-right: 10px;
          a{
              vertical-align: middle;
          }
          .btn_buy{
              margin-left: 10px;
              padding:3px;
          }
    }
}


.view_video{

    video{
        width: 100%;
    }
}
/* End video */
/* ====== fixed_button ============================================== */
.left_btn{
    position:fixed;
    top:145px;
    left:0;
}
.right_btn{
    position:fixed;
    top:145px;
    right:0;
}
.fix{ outline: 1px #F00 solid;
    width: 320px;
    height: 600px;
    overflow-y: scroll;;
    position: absolute;
    background-color: #FFF;
    top:45px;
    z-index: 10;
    // display: none;
}
.fix_list{
    left: 0;
    margin: 0;
    display: none;
}
.fix_epil_qa{
    right: 0;
    display: none;
}

//left_button
.list_lnb{
    margin: 5px;
    li{
      .inlineblock();
      font-size: @menu-size;
      vertical-align: top;
      width: 80px;
    }
    .icon_lnb{
        width: @icon-s;
    }
}
.fix_line_top{
    position: absolute;
}
.fix_line_bottom{
    // position: absolute;
    img{
        width: 60px;
        height:30px;
        position: relative;
        top:-15px;
    }
}

.fix_list_box{
    position: relative;
    width: 100%;
      .box_left_btn{
          margin-right: 15px;
          margin-left: 5px;
      }
      .box_right_btn{
          margin-left: 15px;
          margin-right: 5px;
      }
}


//right_button
.btn_epil_qa{
    margin: 5px;
}
.fix_common{
    .radius();
    border: @area-line;
    padding: 5px 10px;
    width: 283px;
    margin: 7px auto;
      textarea{
          .radius();
          margin-top: 10px;
          margin-bottom: 10px;
      }
}
.new_epil_qa{
  margin: 20px auto;
    input{
        .radius();
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
.old_epil_qa{
    text-align: left;

}


.user_info{
    padding:0 5px 5px;

}
.info_date{
    float: right;
}
.user_text{
    border-top: @area-line;
    padding: 5px 5px 0 5px;
}
.user_title{
    border-top: @area-line;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}
.user_reply{
    margin:10px 5px 0 20px;
}
.login_myqa{
  // display: none;
    margin: 20px 0;
    .user_title{
        border: none;
    }
    .qa_plus{
        margin: 15px auto 0;
          a{
            padding: 4px 18px;
          }
    }
}
.logout_maqa{
  display: none;
    margin-top:60px;
      .logout_notice{
          margin: 10px;
      }
}
.fix_qa{
    display: none;
}
.fix_myqa{
    display: none;
}
/* End fixed_button */
