.view_detail{
    text-align: left;
    h2{
        .inlineblock();
        text-align: left;
        margin-left: 10px;
    }
    .view_icon{
        .inlineblock();
        float:right;
        margin-right: 10px;
    }
}

.view_video{
    margin: 10px 0;
    // video{
    //     width: 100%;
    // }
}
