/* ======= notice ===========================*/
.notice{
    border: @area-line;
    .radius();
    width: 90%;
    margin: 0 auto;
    thead{
        tr{
          th{
              font-size: 16px;
              line-height: 30px;
          }
        }
    }
    a{
        vertical-align: middle;
    }
    .notice_sub{
        font-size: 14px;
        font-weight: normal;
    }
    .notice_writer{
        padding: 5px 15px 0 0

    }
    .notice_text{
        padding:30px 40px;;
    }
}
.prev_list{
    margin: 20px 0;
    a{
        padding: 8px;
    }
}
/* End notice*/
