#wrapper{
    text-align: center;
}
/* ======== Content_top ============================ */
.contents{
  padding:35px 0;
}
.content_top{
    text-align: center;
      .content_title{
        margin: 20px 0 15px;
      }
      .title_img{
          width:200px;
          height:150px;
          margin: 0 auto 70px;
            img{
                width:100%;
            }
      }
      .content_btn{
          button{
              margin: 0 5px;
          }
      }
}
/* End content_top*/


/* ======== Content_bottom ============================ */
.teacher{
    span{
        font-size: @icon-s;
    }
}
/* End content_bottom*/
