/*======== my Q&A ========================*/
.mypage{
    border: @area-line;
    margin: 20px 20px 15px;
    .radius();

}
.basic_list{
  overflow-y: auto;
  height: 562px;
}
.mypage_title{
    margin:  20px 10px;

}
.list{
    text-align: left;
    .my_list{
        .radius();
        border: @area-line;
        margin-bottom:20px;
          .user_title{
              border: none;
          }
          input, textarea{
              .radius();
              margin-top: 10px;
          }
    }
    .btn_right{
        button{
            margin:10px 0;
        }
    }
}
/* End myQ&A*/


/*======== my Buy ========================*/
/* End my Buy*/


/*======== my Bookmark ========================*/
.course_info{
    padding: 5px 5px 10px;
    border-top: @area-line;
}
/* End my Bookmark*/
