/*======== my Q&A ========================*/
.mypage{
    border: @area-line;
    margin: 20px 20px 15px;
    .radius();

}
.basic_list{
  overflow-y: auto;
  height: 560px;
}
.mypage_title{
    margin:  20px 10px;

}
.list{
    text-align: left;
    .my_list{
        .radius();
        border: @area-line;
        margin-bottom:20px;
          .user_title{
              border: none;
          }
          input, textarea{
              .radius();
              margin-top: 10px;
          }
    }
    .btn_right{
        button{
            margin:10px 0;
        }
    }
}
/* End myQ&A*/
/*======== my buy ========================*/
.apply_coupon_point{
    margin: 20px 20px 15px;
      .mypage{
          margin: 0;
      }
      .apply_point{
          margin-bottom: 35px;
      }
}
.mycoupon{
    height: 397px;
    overflow-y: auto;
}
.mypoint{
    height: 60px;
    overflow-y: auto;
}
/* End my buy*/
/*======== my Bookmark ========================*/
.course_info{
    padding: 5px 5px 10px;
    border-top: @area-line;
        a{
            float: right;
            margin-bottom: 5px;
        }
}
/* End my Bookmark*/
